@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: 'Josefin Sans';
    color:white;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vmin;
    padding: 0;
    margin: 0;
}

.cellContainer {
    display: grid;
    width: 70vmin;
    height: 70vmin;
    background-color: #333;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1vmin;
    padding: 2vmin;
    border-radius: 1vmin;
}

.cell {
    width: 100%;
    height: 100%;
    background-color: rgb(110, 187, 187);
    border-radius: .5vmin;
}

.active {
    background-color: rgb(212, 33, 33);
}

.score {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 32px;
}

.start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20vmin;
    height: 8vmin;
    background-color: red;
    border: none;
    border-radius: 1vmin;
    font-size: 32px;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}